### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
tplay = purchase_data.SN.nunique()
tplay

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Find number of unique items
uniitem = purchase_data["Item Name"].nunique()
#Find the average paid for all items
avgprice = purchase_data.Price.mean()
#Find number of purchases
totpurchase = len(purchase_data)
#Find total revenue
totrev = purchase_data.Price.sum()

In [4]:
purchsum = pd.DataFrame({"Unique Items": [uniitem], "Average Price": [avgprice],
                        "Number of Purchase": [totpurchase], "Total Revenue": [totrev]})
purchsum["Average Price"] = purchsum["Average Price"].map("${:.2f}".format)
purchsum.head()

   Unique Items Average Price  Number of Purchase  Total Revenue
0           179         $3.05                 780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Groupby gender, unique count of SN
gen_gb = purchase_data.groupby(["Gender"])
gen_count = gen_gb.nunique()

In [6]:
#Counts by Gender
malecount = gen_count.loc["Male", "SN"]
femalecount = gen_count.loc["Female", "SN"]
othercount = gen_count.loc["Other / Non-Disclosed", "SN"]

In [7]:
#Calc percentages
maleperc = 100*malecount/tplay
femaleperc = 100*femalecount/tplay
otherperc = 100*othercount/tplay

In [8]:
#Summary table
gendersum = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed", "Total"],
                          "Unique Players": [malecount, femalecount, othercount, tplay],
                         "% of Players": [maleperc, femaleperc, otherperc, 100]})
gendersum["% of Players"] = gendersum["% of Players"].map("{:.2f}%".format)

gendersum.head()

                  Gender  Unique Players % of Players
0                   Male             484       84.03%
1                 Female              81       14.06%
2  Other / Non-Disclosed              11        1.91%
3                  Total             576      100.00%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#total volume of purchases by gender
gen_purch = gen_gb.count()
malepur = gen_purch.loc["Male", "Purchase ID"]
femalepur = gen_purch.loc["Female", "Purchase ID"]
otherpur = gen_purch.loc["Other / Non-Disclosed", "Purchase ID"]

In [10]:
#Purchases per player by gender
malepurplay = malepur / malecount
femalepurplay = femalepur / femalecount
otherpurplay = otherpur / othercount

In [11]:
#avg purchase price by gender
gen_avgp = gen_gb.mean()
maleavgp = gen_avgp.loc["Male", "Price"]
femaleavgp = gen_avgp.loc["Female", "Price"]
otheravgp = gen_avgp.loc["Other / Non-Disclosed", "Price"]

In [12]:
#total spent by gender
gen_pr = gen_gb.sum()
malespent = gen_pr.loc["Male", "Price"]
femalespent = gen_pr.loc["Female", "Price"]
otherspent = gen_pr.loc["Other / Non-Disclosed", "Price"]

In [13]:
#avg spent per player by gender
maleavgspent = malespent / malecount
femaleavgspent = femalespent / femalecount
otheravgspent = otherspent / othercount

In [14]:
#New summart table
gender_aggs = pd.DataFrame ({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                            "Total Purchases": [malepur, femalepur, otherpur],
                            "Purchases per Player": [malepurplay, femalepurplay, otherpurplay],
                             "Avg Purchase Price": [maleavgp, femaleavgp, otheravgp],
                             "Total Spent": [malespent, femalespent, otherspent],
                             "Avg Spent per Player": [maleavgspent, femaleavgspent, otheravgspent]})
#cleaner formatting
#Format to %
gender_aggs["Purchases per Player"] = gender_aggs["Purchases per Player"].map("{:.2f}".format)
gender_aggs["Avg Purchase Price"] = gender_aggs["Avg Purchase Price"].map("${:.2f}".format)
gender_aggs["Total Spent"] = gender_aggs["Total Spent"].map("${:.2f}".format)
gender_aggs["Avg Spent per Player"] = gender_aggs["Avg Spent per Player"].map("${:.2f}".format)
gender_aggs.head()

,Gender,Total Purchases,Purchases per Player,Avg Purchase Price,Total Spent,Avg Spent per Player
0,Male,652,1.35,$3.02,$1967.64,$4.07
1,Female,113,1.40,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,1.36,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
#bin by 10under, every 5, 40up
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]

#bin names
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

In [16]:
#Total per age group
age_gb = purchase_data.groupby(["Age_Group"])
agegroup = age_gb.nunique()
group1 = agegroup.loc["<10", "SN"]
group2 = agegroup.loc["10-14", "SN"]
group3 = agegroup.loc["15-19", "SN"]
group4 = agegroup.loc["20-24", "SN"]
group5 = agegroup.loc["25-29", "SN"]
group6 = agegroup.loc["30-34", "SN"]
group7 = agegroup.loc["35-39", "SN"]
group8 = agegroup.loc["40+", "SN"]

In [17]:
#Percent by age group
group_perc1 = group1 / tplay * 100
group_perc2 = group2 / tplay * 100
group_perc3 = group3 / tplay * 100
group_perc4 = group4 / tplay * 100
group_perc5 = group5 / tplay * 100
group_perc6 = group6 / tplay * 100
group_perc7 = group7 / tplay * 100
group_perc8 = group8 / tplay * 100

In [18]:
#Age Group Summary table
age_group_sum = pd.DataFrame ({"Age Group": group_names,
                               "Number of Players": [group1, group2, group3, group4, group5, group6, group7, group8],
                              "% of Players": [group_perc1, group_perc2, group_perc3, group_perc4, group_perc5,
                                               group_perc6, group_perc7, group_perc8]})
#Format percent
age_group_sum["% of Players"] = age_group_sum["% of Players"].map("{:.2f}%".format)
age_group_sum.head(10)

  Age Group  Number of Players % of Players
0       <10                 17        2.95%
1     10-14                 22        3.82%
2     15-19                107       18.58%
3     20-24                258       44.79%
4     25-29                 77       13.37%
5     30-34                 52        9.03%
6     35-39                 31        5.38%
7       40+                 12        2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#total volume of purchases by agegroup
age_purch = age_gb.count()
g1_pur = age_purch.loc["<10", "Purchase ID"]
g2_pur = age_purch.loc["10-14", "Purchase ID"]
g3_pur = age_purch.loc["15-19", "Purchase ID"]
g4_pur = age_purch.loc["20-24", "Purchase ID"]
g5_pur = age_purch.loc["25-29", "Purchase ID"]
g6_pur = age_purch.loc["30-34", "Purchase ID"]
g7_pur = age_purch.loc["35-39", "Purchase ID"]
g8_pur = age_purch.loc["40+", "Purchase ID"]

In [20]:
#Avg purchase per play by age group
#Purchases per player by gender
g1_purplay = g1_pur / group1
g2_purplay = g2_pur / group2
g3_purplay = g3_pur / group3
g4_purplay = g4_pur / group4
g5_purplay = g5_pur / group5
g6_purplay = g6_pur / group6
g7_purplay = g7_pur / group7
g8_purplay = g8_pur / group8

In [21]:
#avg purchase price by agegroup
age_avgp = age_gb.mean()
g1_avgp = age_avgp.loc["<10", "Price"]
g2_avgp = age_avgp.loc["10-14", "Price"]
g3_avgp = age_avgp.loc["15-19", "Price"]
g4_avgp = age_avgp.loc["20-24", "Price"]
g5_avgp = age_avgp.loc["25-29", "Price"]
g6_avgp = age_avgp.loc["30-34", "Price"]
g7_avgp = age_avgp.loc["35-39", "Price"]
g8_avgp = age_avgp.loc["40+", "Price"]

In [22]:
#total spent by age group
age_spent = age_gb.sum()
g1_spent = age_spent.loc["<10", "Price"]
g2_spent = age_spent.loc["10-14", "Price"]
g3_spent = age_spent.loc["15-19", "Price"]
g4_spent = age_spent.loc["20-24", "Price"]
g5_spent = age_spent.loc["25-29", "Price"]
g6_spent = age_spent.loc["30-34", "Price"]
g7_spent = age_spent.loc["35-39", "Price"]
g8_spent = age_spent.loc["40+", "Price"]

In [23]:
#avg spent per player by age group
g1_spentplay = g1_spent / group1
g2_spentplay = g2_spent / group2
g3_spentplay = g3_spent / group3
g4_spentplay = g4_spent / group4
g5_spentplay = g5_spent / group5
g6_spentplay = g6_spent / group6
g7_spentplay = g7_spent / group7
g8_spentplay = g8_spent / group8

In [24]:
#sum table for age group spendings
age_aggs = pd.DataFrame ({"Age Group": group_names,
                               "Total Purchases": [g1_pur, g2_pur, g3_pur, g4_pur, g5_pur, g6_pur, g7_pur, g8_pur],
                               "Purchases per Player": [g1_purplay, g2_purplay, g3_purplay, g4_purplay,
                                                        g5_purplay, g6_purplay, g7_purplay, g8_purplay],
                               "Avg Purchase Price": [g1_avgp, g2_avgp, g3_avgp, g4_avgp, g5_avgp, g6_avgp, g7_avgp, g8_avgp],
                               "Total Spent": [g1_spent, g2_spent, g3_spent, g4_spent, g5_spent, g6_spent, g7_spent, g8_spent],
                               "Avg Spent per Player": [g1_spentplay, g2_spentplay, g3_spentplay, g4_spentplay, g5_spentplay, g6_spentplay, g7_spentplay, g8_spentplay]})
#reformat
age_aggs["Purchases per Player"] = age_aggs["Purchases per Player"].map("{:.2f}".format)
age_aggs["Avg Purchase Price"] = age_aggs["Avg Purchase Price"].map("${:.2f}".format)
age_aggs["Total Spent"] = age_aggs["Total Spent"].map("${:.2f}".format)
age_aggs["Avg Spent per Player"] = age_aggs["Avg Spent per Player"].map("${:.2f}".format)
age_aggs.head(8)

,Age Group,Total Purchases,Purchases per Player,Avg Purchase Price,Total Spent,Avg Spent per Player
0,<10,23,1.35,$3.35,$77.13,$4.54
1,10-14,28,1.27,$2.96,$82.78,$3.76
2,15-19,136,1.27,$3.04,$412.89,$3.86
3,20-24,365,1.41,$3.05,$1114.06,$4.32
4,25-29,101,1.31,$2.90,$293.00,$3.81
5,30-34,73,1.40,$2.93,$214.00,$4.12
6,35-39,41,1.32,$3.60,$147.67,$4.76
7,40+,13,1.08,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
#groupby sn. Create DFs for count and sum
sn_gb = purchase_data.groupby(["SN"])
#Total purchases per player
tpurch = sn_gb["Purchase ID"].count().reset_index(drop = False)
#Total spent per player
tprice = sn_gb.Price.sum().reset_index(drop = False)
tpurch.head()

             SN  Purchase ID
0  Adairialis76            1
1   Adastirin33            1
2        Aeda94            1
3        Aela59            1
4     Aelaria33            1

In [26]:
#Merge DFs
merge_df = pd.merge(tpurch, tprice, on = "SN", how = "inner")
#rename purchase id to total pruchases, price to total spent
top_df = merge_df.rename(columns={"Purchase ID": "Total Purchases", "Price": "Total Spent"})
top_df.head()

             SN  Total Purchases  Total Spent
0  Adairialis76                1         2.28
1   Adastirin33                1         4.48
2        Aeda94                1         4.91
3        Aela59                1         4.32
4     Aelaria33                1         1.79

In [27]:
#Sort by total spent
top_df = top_df.sort_values(["Total Spent"], ascending=False)
#add average price
top_df["Average Price"] = top_df["Total Spent"] / top_df["Total Purchases"]
#new index
top_spent_df = top_df.reset_index(drop=True)
top_spent_df.head()

            SN  Total Purchases  Total Spent  Average Price
0    Lisosia93                5        18.96       3.792000
1  Idastidru52                4        15.45       3.862500
2   Chamjask73                3        13.83       4.610000
3       Iral74                4        13.62       3.405000
4  Iskadarya95                3        13.10       4.366667

In [28]:
#format to $
top_spent_df["Total Spent"] = top_spent_df["Total Spent"].map("${:.2f}".format)
top_spent_df["Average Price"] = top_spent_df["Average Price"].map("${:.2f}".format)
top5 = top_spent_df.head(5)
top5

            SN  Total Purchases Total Spent Average Price
0    Lisosia93                5      $18.96         $3.79
1  Idastidru52                4      $15.45         $3.86
2   Chamjask73                3      $13.83         $4.61
3       Iral74                4      $13.62         $3.40
4  Iskadarya95                3      $13.10         $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
#create df for item info
items_df = purchase_data[["Purchase ID", "Item ID", "Item Name", "Price"]]
items_df.head()

   Purchase ID  Item ID                                  Item Name  Price
0            0      108  Extraction, Quickblade Of Trembling Hands   3.53
1            1      143                          Frenzied Scimitar   1.56
2            2       92                               Final Critic   4.88
3            3      100                                Blindscythe   3.27
4            4      131                                       Fury   1.44

In [30]:
#group id and name
items_gb = items_df.groupby(["Item ID", "Item Name"])

In [31]:
#create df from counts
items_count_df = items_gb.count()
items_count_rename = items_count_df.rename(columns={"Purchase ID": "Number of Purchases"})
del items_count_rename["Price"]
items_count_rename.head()

                            Number of Purchases
Item ID Item Name
0       Splinter                              4
1       Crucifer                              4
2       Verdict                               6
3       Phantomlight                          6
4       Bloodlord's Fetish                    5

In [32]:
#create df for totals
items_tot_df = items_gb.sum()
items_tot_rename = items_tot_df.rename(columns={"Price": "Total"})
del items_tot_rename["Purchase ID"]
items_tot_rename.head()

                            Total
Item ID Item Name
0       Splinter             5.12
1       Crucifer            11.77
2       Verdict             14.88
3       Phantomlight        14.94
4       Bloodlord's Fetish   8.50

In [33]:
items_price = items_gb.mean()
del items_price["Purchase ID"]
items_price.head()

                             Price
Item ID Item Name
0       Splinter            1.2800
1       Crucifer            2.9425
2       Verdict             2.4800
3       Phantomlight        2.4900
4       Bloodlord's Fetish  1.7000

In [34]:
#merge
items_m = pd.merge(items_count_rename, items_price, on = ["Item ID", "Item Name"], how = "inner")
items_merge = pd.merge(items_m, items_tot_rename, on = ["Item ID", "Item Name"], how = "inner")
items_merge.head()

                            Number of Purchases   Price  Total
Item ID Item Name
0       Splinter                              4  1.2800   5.12
1       Crucifer                              4  2.9425  11.77
2       Verdict                               6  2.4800  14.88
3       Phantomlight                          6  2.4900  14.94
4       Bloodlord's Fetish                    5  1.7000   8.50

In [35]:
#sort by purchase total, clean format
top_seller = items_merge.sort_values(["Number of Purchases"], ascending=False)
top_seller["Price"] = top_seller["Price"].map("${:.2f}".format)
top_seller["Total"] = top_seller["Total"].map("${:.2f}".format)
top_seller.head(10)

,,Number of Purchases,Price,Total
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
#sort by top total, clean format
top_earner = items_merge.sort_values(["Total"], ascending=False)
top_earner["Price"] = top_earner["Price"].map("${:.2f}".format)
top_earner["Total"] = top_earner["Total"].map("${:.2f}".format)
top_earner.head(10)

,,Number of Purchases,Price,Total
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
132,Persuasion,9,$3.22,$28.99

In [37]:
#write to summary tables in xlsx to copy into report
#List of variables and sum tables to print
    # tplay, purchsum, gendersum, gender_aggs, age_group_sum,
    # age_aggs, top5, top_seller, top_earner

with pd.ExcelWriter('PyMoliTables.xlsx') as writer:

    purchsum.head().to_excel(writer, sheet_name="purchsum")
    gendersum.head().to_excel(writer, sheet_name="gendersum")
    gender_aggs.head().to_excel(writer, sheet_name="gender_aggs")
    age_group_sum.head(8).to_excel(writer, sheet_name="age_group_sum")
    age_aggs.head(8).to_excel(writer, sheet_name="age_aggs")
    top5.head(5).to_excel(writer, sheet_name="top5")
    top_seller.head(5).to_excel(writer, sheet_name="top_seller")
    top_earner.head(5).to_excel(writer, sheet_name="top_earner")