In [1]:
import pandas as pd

In [2]:
file = "Resources/election_data.csv"
df = pd.read_csv(file)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
#Total votes
tvotes =df["Voter ID"].count()
tvotes

3521001

In [27]:
#Votes per unique candidate
votecount = df.groupby("Candidate")["Voter ID"].count()
votecount.head()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [28]:
#sort by asscending, set index
votecount = votecount.reset_index()
votecount = votecount.sort_values("Voter ID", ascending=False)
votecount.head()

  Candidate  Voter ID
1      Khan   2218231
0    Correy    704200
2        Li    492940
3  O'Tooley    105630

In [29]:
#add percent col
votepercent = round(100 * votecount["Voter ID"] / tvotes, 2)
votecount["Percent"] = votepercent
votecount.head()

  Candidate  Voter ID  Percent
1      Khan   2218231     63.0
0    Correy    704200     20.0
2        Li    492940     14.0
3  O'Tooley    105630      3.0

In [32]:
#print terminal
print("Election Results")
print("********************************************")
print(f"Total votes: {tvotes}")
print("********************************************")

#loop for each result    
for i in range(0, len(votecount)):
    print(f"{votecount.iloc[i, 0]} received {votecount.iloc[i, 2]}% ({votecount.iloc[i, 1]}) of the votes")

print("********************************************")
print(f"{votecount.iloc[0, 0]} wins the election with {votecount.iloc[0, 1]} votes!")

Election Results
********************************************
Total votes: 3521001
********************************************
Khan received 63.0% (2218231) of the votes
Correy received 20.0% (704200) of the votes
Li received 14.0% (492940) of the votes
O'Tooley received 3.0% (105630) of the votes
********************************************
Khan wins the election with 2218231 votes!

In [33]:
#write to .txt
text_file = open("Election_Pandas.txt", "w")
n = text_file.write("Election Results \n")
n = text_file.write("******************************************** \n")
n = text_file.write(f"Total votes: {tvotes} \n")
n = text_file.write("******************************************** \n")

#loop for each result    
for i in range(0, len(votecount)):
    n = text_file.write(f"{votecount.iloc[i, 0]} received {votecount.iloc[i, 2]}% ({votecount.iloc[i, 1]}) of the votes \n")

n = text_file.write("******************************************** \n")
n = text_file.write(f"{votecount.iloc[0, 0]} wins the election with {votecount.iloc[0, 1]} votes! \n")
text_file.close()