In [2]:
import pandas as pd

In [96]:
file = "Resources/budget_data.csv"
df = pd.read_csv(file)

In [12]:
#Total Months
df.Date.count()

86

In [7]:
#Total Profits
df["Profit/Losses"].sum()

38382578

In [45]:
#Find change in profit, add col.
profitchange_df = df.assign(Change = df["Profit/Losses"].diff())
profitchange_df.head()

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [92]:
#Find Avg, round for printing
profitavg = round(profitchange_df.Change.mean(), 2)
profitavg

-2315.12

In [76]:
#Find max and corresponding date
profitmax = profitchange_df.loc[profitchange_df["Change"] == profitchange_df.Change.max()]
profitmax

        Date  Profit/Losses     Change
25  Feb-2012        1170593  1926159.0

In [77]:
profitmin = profitchange_df.loc[profitchange_df["Change"] == profitchange_df.Change.min()]
profitmin

        Date  Profit/Losses     Change
44  Sep-2013       -1196225 -2196167.0

In [95]:
#Print to terminal
print("Financial Analysis")
print("****************************************************")
print(f"Total Months: {df.Date.count()}")
print(f"Total Profits: ${df['Profit/Losses'].sum()}")
print(f"Average Change in Profits: ${profitavg}")
print(f"Greatest Increase in Profits: {profitmax.Date.values[0]} (${profitmax.Change.values[0]})")
print(f"Greatest Decrease in Profits: {profitmin.Date.values[0]} (${profitmin.Change.values[0]})")

Financial Analysis
****************************************************
Total Months: 86
Total Profits: $38382578
Average Change in Profits: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [94]:
#write to .txt
text_file = open("Financials_Pandas.txt", "w")
n = text_file.write("Financial Analysis \n")
n = text_file.write("**************************************************** \n")
n = text_file.write(f"Total Months: {df.Date.count()} \n")
n = text_file.write(f"Total Profits: ${df['Profit/Losses'].sum()} \n")
n = text_file.write(f"Average Change in Profits: ${profitavg} \n")
n = text_file.write(f"Greatest Increase in Profits: {profitmax.Date.values[0]} (${profitmax.Change.values[0]}) \n")
n = text_file.write(f"Greatest Decrease in Profits: {profitmin.Date.values[0]} (${profitmin.Change.values[0]}) \n")
text_file.close()